<div class="row" style="justify-content: center;">
    <div style="padding: 1rem;">
        <button type="submit" class="btn btn-primary" (click)="viewManagers()">View Managers</button>
    </div>
    <div style="padding: 1rem;">
        <button type="submit" class="btn btn-primary" (click)="viewEngineers()">View Engineers</button>
    </div>
    <div style="padding: 1rem;">
        <button type="submit" class="btn btn-primary" (click)="viewCustomers()">View Customers</button>
    </div>
    <div style="padding: 1rem;">
        <button type="submit" class="btn btn-primary" (click)="viewComplaints()">View Complaints</button>
    </div>
    <div style="padding: 1rem;">
        <button type="submit" class="btn btn-primary" (click)="viewFeedbacks()">View Feedbacks</button>
    </div>
    <!-- <div style="padding: 1rem;">
        <button type="submit" class="btn btn-primary">View Engineers Duty Assignments</button>
    </div> -->
</div>

<div *ngIf="anyButtonClicked" class="container" style="width: 25%;">
    <button (click)="closeAll()" class="btn btn-warning">Close All</button><br>
</div>
<!-- ------------------------------------Managers------------------------------------ -->
<!-- view Managers -->
<div *ngIf="viewManagersStatus" class="container" style="width: 25%;"><br>
    <div class="col-lg-7 mx-auto">
        <h4>Managers</h4>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Manager Email</th>
                <th scope="col">Manager Name</th>
                <th scope="col">Manager Pincode</th>

            </tr>
        </thead>
        <br>
        <tbody>
            <tr *ngFor="let manager of managers">
                <td scope="row">{{manager.managerEmail}}</td>
                <td>{{manager.managerName}}</td>
                <td>{{manager.managerPincode}}</td>
                <td><button (click)="deleteManager(manager)" class="btn btn-danger">Delete</button>
                </td>
                <td><button (click)="updateManager(manager)" class="btn btn-primary">Update</button>
                </td>
            </tr>
            <tr *ngIf="updateManagerStatus">
                <div style="width: 100%;">
                    <form (ngSubmit)="newManagerUpdates()">
                        <h4>Update Manager Pincode</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" name="managerPincode"
                                [(ngModel)]="managerUpdating.managerPincode" placeholder="Enter new pincode">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </tr>
        </tbody>
    </table>

</div>

<!-- ------------------------------------Engineers------------------------------------ -->
<!-- View Engineers -->
<div *ngIf="viewEngineersStatus" class="container" style="width: 25%;"><br>
    <div class="col-lg-7 mx-auto">
        <h4>Engineers</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Engineer Email</th>
                <th scope="col">Manager Name</th>


            </tr>
        </thead>
        <br>
        <tbody>
            <tr *ngFor="let engineer of engineers">
                <td scope="row">{{engineer.engineerEmail}}</td>
                <td>{{engineer.engineerName}}</td>

                <td><button (click)="deleteEngineer(engineer)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- ------------------------------------Customers------------------------------------ -->
<!-- View Customers -->
<div *ngIf="viewCustomersStatus" class="container" style="width: 25%;"><br>
    <div class="col-lg-7 mx-auto">
        <h4>Customers</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Customer Email</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Mobile</th>
                <th scope="col">Customer Address</th>
                <th scope="col">Customer Pincode</th>


            </tr>
        </thead>
        <br>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td scope="row">{{customer.customerEmail}}</td>
                <td>{{customer.customerName}}</td>
                <td>{{customer.customerMobile}}</td>
                <td>{{customer.customerAddress}}</td>
                <td>{{customer.customerPincode}}</td>

                <td><button (click)="deleteCustomer(customer)" class="btn btn-danger">Delete</button>
                </td>
                <td><button (click)="updateCustomer(customer)" class="btn btn-primary">Update</button>
                </td>
            </tr>
            <tr *ngIf="updateCustomerStatus">
                <div style="width: 100%;">
                    <form (ngSubmit)="newCustomerUpdates()">
                        <h4>Update Customer Pincode</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" name="customerPincode"
                                [(ngModel)]="customerUpdating.customerPincode" placeholder="Enter new pincode">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </tr>
        </tbody>
    </table>

</div>
<!-- ------------------------------------Complaints------------------------------------ -->
<!-- View Complaints -->
<div *ngIf="viewComplaintsStatus" class="container" style="width: 25%;"><br>
    <div class="col-lg-7 mx-auto">
        <h4>Complaints</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ticket Id</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Complaint</th>
                <th scope="col">Pincode</th>
                <th scope="col">status</th>
                <th scope="col">Review</th>
            </tr>
        </thead>
        <br>
        <tbody>
            <tr *ngFor="let complaint of complaints">
                <td scope="row">{{complaint.ticketId}}</td>
                <td>{{complaint.customerEmail}}</td>
                <td>{{complaint.complaint}}</td>
                <td>{{complaint.pincode}}</td>
                <td>{{complaint.status}}</td>
                <td><button (click)="deleteComplaint(complaint)" class="btn btn-danger">Delete</button>
                </td>

                <td><button (click)="updateComplaint(complaint)" class="btn btn-primary">Update</button>
                </td>
            </tr>
            <tr *ngIf="updateComplaintStatus">
                <div>
                    <form (ngSubmit)="newComplaintUpdates()">
                        <h4>Update Complaint Pincode</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" name="customerEmail"
                                [(ngModel)]="complaintUpdating.customerEmail" placeholder="Enter email">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="pincode"
                                [(ngModel)]="complaintUpdating.pincode" placeholder="Enter pincode">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="complaint"
                                [(ngModel)]="complaintUpdating.complaint" placeholder="Enter complaint">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="status" [(ngModel)]="complaintUpdating.status"
                                placeholder="Enter status">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </tr>
        </tbody>
    </table>

</div>
<!-- ------------------------------------Feedbacks------------------------------------ -->
<!-- view Feedbacks -->
<div *ngIf="viewFeedbacksStatus" class=" container" style="width: 25%;">

    <br>
    <div class="col-lg-7 mx-auto">
        <h4>Feedbacks</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="padding-right: 5px;">Feedback Id</th>
                <th style="padding-right: 5px;">Ticket Id</th>
                <th style="padding-right: 5px;">Customer Email</th>
                <th style="padding-right: 5px;">Feedback</th>
            </tr>
        </thead>
        <br>
        <tbody>
            <tr *ngFor="let feedback of feedbacks">
                <td style="padding-right: 5px;" scope="row">{{feedback.feedbackId}}</td>
                <td style="padding-right: 5px;">{{feedback.ticketId}}</td>
                <td style="padding-right: 5px;">{{feedback.customerEmail}}</td>
                <td style="padding-right: 5px;">{{feedback.feedback}}</td>

                <td><button (click)="deleteFeedback(feedback)" class="btn btn-danger">Delete</button>
                </td>
                <td><button (click)="updateFeedback(feedback)" class="btn btn-primary">Update</button>
                </td>
            </tr>
            <tr *ngIf="updateFeedbackStatus">
                <div>
                    <form (ngSubmit)="newFeedbackUpdates()">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ticketId"
                                [(ngModel)]="feedbackUpdating.ticketId" placeholder="Enter ticked Id">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="customerEmail"
                                [(ngModel)]="feedbackUpdating.customerEmail" placeholder="Enter email">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="feedback"
                                [(ngModel)]="feedbackUpdating.feedback" placeholder="Enter feedback">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </tr>
        </tbody>
    </table>

</div>