<div class="row text-center text-black mb-5">
    <div class="col-lg-7 mx-auto">
        <h4>Complaints</h4>
    </div>
</div>
<div class="container" style="width: 25%;">
    <form (ngSubmit)="registerComplaint()">
        <div class="form-group">
            <input type="text" class="form-control" name="customerEmail" [(ngModel)]="complaint.customerEmail"
                placeholder="Enter email">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="pincode" [(ngModel)]="complaint.pincode"
                placeholder="Enter pincode">
        </div>



        <div class="form-group">
            <input type="text" class="form-control" name="complaint" [(ngModel)]="complaint.complaint"
                placeholder="Enter complaint">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="status" [(ngModel)]="complaint.status"
                placeholder="Enter status">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>
<div class="container" style="width: 25%;">
    <button (click)="getAllComplaintsByEmail(complaint.customerEmail)" class="btn btn-danger">View All
        Complaints</button>
</div>
<br>
<!-- ---------------------- view complaints ----------------------- -->
<div class="container" style="width: 25%;">
    <div *ngIf="viewComplaints">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ticket Id</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Complaint</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">status</th>
                    <th scope="col">Review</th>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr *ngFor="let complaint of complaints">
                    <td scope="row">{{complaint.ticketId}}</td>
                    <td>{{complaint.customerEmail}}</td>
                    <td>{{complaint.complaint}}</td>
                    <td>{{complaint.pincode}}</td>
                    <td>{{complaint.status}}</td>
                    <td><button (click)="sendComplaintDetails(complaint)" class="btn btn-danger">Send
                            Feedback</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>