<div class="row text-center text-black mb-5">
    <div class="col-lg-7 mx-auto">
        <h4>Send Feedback</h4>
    </div>
</div>
<div class="container" style="width: 25%;">
    <form (ngSubmit)="sendFeedback()">
        <div class="form-group">
            <input type="text" class="form-control" name="ticketId" [(ngModel)]="complaint.ticketId"
                placeholder="Enter ticked Id">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="customerEmail" [(ngModel)]="complaint.customerEmail"
                placeholder="Enter email">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="feedback" [(ngModel)]="userFeedback"
                placeholder="Enter feedback">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>